* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "News Cycle", sans-serif;
  font-size: 16px;
  padding: 20px;
  background: #f5f5f5;
}

h1 {
  color: #0974b3;
  display: inline-block;
  font-size: 2em;
}

.years {
  color: rgba(102, 102, 102, 0.541);
  margin-bottom: 15px;
  margin-top: -10px;
  /* vertical-align: top; */
}

img {
  float: left;
  margin-right: 20px;
  width: 150px;
}

body {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  width: 1200px;
  height: 100%;
  padding: 30px;
  gap: 20px;
}

article {
  height: 50%;
  /* border: 1px solid #444444; */
  border-top: 5px #0974b3;
  border-style: outset;
  border-bottom: 1px solid white;
  border-right: 1px solid white;
  border-left: 1px solid white;
  padding: 20px;
  box-shadow: 15px #666;
  background: white;
}

article:nth-child(1) {
  width: 1100px;
  height: 40%;
}

.item3 {
  width: 520px;
  height: 380px;
}

.item2 {
  width: 520px;
  height: 380px;
}
p {
  color: rgb(59, 59, 59);
  font-weight: 300;
  text-decoration: wavy;
}
a {
  margin-top: 15px;
}
